$color-title : #767779;
$color-background-title : #EFF0F4;
$primary-color : #459486;
$cancel-button-color : #DF5A4B;
$background-sectionBook-color : #E0E0E0;

//small-screen-width
$screen-sm : 950px;
